
# project specific
svm_model*
svm_prediction*

train-visualize-hyperplane-m
predict-saved-model-m
perf-eval-smo-m
benchmark-timings-m
benchmark-looping-m


*.class
*.log
*.swp
project/target
.idea*
*.DS_Store


pdfanalyser.log*
log*

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
