./res-alg-core/src/test/resources/super_duper_testing_form.docx filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/text_around_test_doc.docx filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/006af415-5841-4768-8b78-516e1badd166-XX-mod.pdf_fields_marked_from_manual_test.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/006af415-5841-4768-8b78-516e1badd166.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/006c9c0b-e693-41a1-887c-6f83f14e1d9f-XX-mod.pdf_fields_marked_from_manual_test.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/006c9c0b-e693-41a1-887c-6f83f14e1d9f.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/008baad5-3fdb-4aea-9311-3ef7499e3f1f-XX-mod.pdf_fields_marked_from_manual_test.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/008baad5-3fdb-4aea-9311-3ef7499e3f1f.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/cardholder_statement_of_dispute.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/filled_TextFieldsMultiPage.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/006f4946-3bd3-49ca-9fa6-d3f52f79f14e_redacted.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/006f8d75-619b-40b0-8919-617abb92aa3c.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/006f941f-729d-4c31-aacf-93802c75ebf8.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/0073bdaf-8e0c-46c5-936a-1d191558240d.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/007a2044-abb6-43b7-9a8f-5512c61d059b.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/007a8459-d9da-4c57-8a8c-28d2dbdf9c2d.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/007b0873-a92b-4e0c-9e7f-1c432a54e503.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/007c3c00-5d53-4675-be59-806a67cb3e40.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/cardholder_statement_of_dispute.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/f1000.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/f1023.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/f1024.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/f1028.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/f1118sj.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/f1118sk.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/f1120fsp.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/f1120idp.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/f1120idq.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/f12339a.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/f13285a.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/f13424f.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/f1363.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/f13844sp.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/f211a.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/f2120.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/f3911.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/f56f.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/f673.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/f706gsd1.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/f712.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/f720to.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/f907.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/f921.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/f921a.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/f921p.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/f952.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/f966.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/f973.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/f990si1.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/f990sj1.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/f990sj2.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/f990sr1.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/i1024.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/irs_f1040.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/k1024.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/p1244.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/manually_labeled_acroforms/p1244pr.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/pdfs/006a7b71-3c32-4961-903e-cefb4d9ba1ce.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/pdfs/backus.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/pdfs/filled_TextFieldsMultiPage.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/pdfs/lamport-clocks.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/pdfs/ritchie-unix.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/pdfs/TextFieldsMultiPage.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/super_duper_testing_form-XX-mod.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/super_duper_testing_form-XX-mod.pdf_fields_marked_from_manual_test.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/super_duper_testing_form.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/text_around_test_doc.pdf filter=lfs diff=lfs merge=lfs -text
./res-alg-core/src/test/resources/TextFieldsMultiPage.pdf filter=lfs diff=lfs merge=lfs -text
model/ffd/svm_light_format/MODEL_EXPSIZE=500_svm-light_t=2_g=0.05_jcost=1.25 filter=lfs diff=lfs merge=lfs -text
