

syntehtic_data_svm-light_fmt
svm_light_cmp

index-*.html
plot_data_*
TESTING/second_experiment_EXPSIZE=500/WORKSPACE/
22_images_to_output/
MAYBE/
MAYBE_2/
NDA_sample.pdf
PAGE_1--cardholder_statement_of_dispute.pdf
PAGE_1--cardholder_statement_of_dispute.png
PAGE_2--cardholder_statement_of_dispute.pdf
PAGE_2--cardholder_statement_of_dispute.png
cardholder_statement_of_dispute.pdf
images_to_output/
many_test_images/
other_test_image/
precision_high--g=0.05_jcost=1.25--images_to_output/
recall_high--g=0.04_jcost=67--images_to_output/
test_image/


MODEL_*
TESTING/first_experiment_EXPSIZE=30/TRAIN
TESTING/first_experiment_EXPSIZE=30/TEST
TESTING/first_experiment_EXPSIZE=30/OUTPUT
TESTING/second_experiment_EXPSIZE=500/MODEL_EXPSIZE=500*
TESTING/second_experiment_EXPSIZE=500/TRAIN
TESTING/second_experiment_EXPSIZE=500/TEST
TESTING/second_experiment_EXPSIZE=500/OUTPUT*

svm_predictions
counts
POS
NEG
LEARN_*
PREP_*
MANY_KINDS*
TRAIN-OUTPUT-*
TRAIN-LOG-*
ffs*
acroform-*
complete_ensemble-*
pdf_heuristic-*
cv_heuristic-*
both_heuristic-*
both_pdf_heuristic_acroform-*
both_cv_heuristic_acroform-*

src/main/resources/tessdata
LOG_*
OUTPUT_*

making_ffd_training_data-LOG_ALL
production_pdf_files_with_form_fields.tar.gz
OLD_RUN
results_uniq

*.class
*.log
*.swp
project/target
.idea*
*.DS_Store
*-XX-mod.pdf
*_other-thang.pdf

*_results_uniq
*download_here*
*ffs

drawn_with_*
*fields_marked_from_manual_test.pdf
output_vectorized*
output_acroforms*
output_labeled*
example_creds
download_here
pdfanalyser.log*
OUTPUT_*
log*

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
